
#fail - atom takes ctrl-shift-0 as ctrl-) which is locale specific!
#short term, ctrl alt is used

'atom-workspace':
  'ctrl-alt-0': 'lime:status'
# 'ctrl-alt-9': 'lime:set-project-file'
  'ctrl-alt-8': 'lime:set-target'
